html,
body {
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}

.container {
	width: 100%;
	max-width: 1263px;
	margin: 0 auto;
}

section hr {
	width: 56px;
	margin-top: 26px;
	margin-bottom: 33px;
}

h1 {
	font-size: 48px;
}

h3 {
	font-size: 24px;
}

p {
	color: #7D7987;
	margin-top: 0;
}

.button {
	/* appearance: none; */
	border: 1px solid #458FF6;
	background: transparent;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	padding: 21px 41px;
}

.button.round-button {
	border-radius: 999px;
}

.bg-blue {
	background-color: #458FF6;
	color: #FFF;
}

/* header */
.header {
	padding-top: 56px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav {
	display: flex;
	gap: 40px;
	font-size: 18px;
}

.header nav a {
	text-decoration: none;
	color: #8f8a9a;
}

.header .nav__link-main {
	color: #1F1534;
}
/* /header */

/* main-info */
.main-info {
	position: relative;
}

.main-info .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(images/main-info-overlay.png);
	background-repeat: no-repeat;
	z-index: -1;
}

.main-info .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 109px;
}

.main-info p {
	font-size: 21px;
	line-height: 32px;
	margin-top: 25px;
	margin-bottom: 45px;
}
/* /main-info */

/* our-services */
.our-services {
	margin-top: 190px;
	position: relative;
}

.our-services .overlay,
.our-services .top-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	z-index: -1;
	pointer-events: none;
}

.our-services .overlay {
	top: calc(20% - 44px);
	background-image: url(images/our-services/our-services-overlay.svg);
}

.our-services .top-overlay {
	top: 46%;
	left: 76%;
	background-image: url(images/our-services/our-services-top-overlay.svg);
}

.our-services .container {
	text-align: center;
}

.our-services p {
	max-width: 952px;
	margin: 0 auto;
}

.our-services .cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 34px;
	margin-top: 80px;
	position: relative;
	background: transparent;
}

.our-services .cards .card {
	box-shadow: 10px 40px 50px 0px #E5E9F666;
	/* top right bottom left */
	width: calc(350px - 52px - 36px);
	height: calc(354px - 58px - 47px);
	border-radius: 20px;
	padding: 58px 52px 47px 36px;
	text-align: left;
	background: #FFF;
	z-index: 1;
}

.our-services .cards .card p {
	font-size: 16px;
	line-height: 28px;
}

.our-services .cards .card h3 {
	margin-top: 36.25px;
}

.our-services .button {
	margin-top: 72px;
	color: #458FF6;
	border-width: 1.4px;
	min-width: 200px;
}
/* /our-services */

/* apps */
.apps {	
	margin-top: 220px;
}

.apps .container {
	display: grid;
	gap: 265px;
}

.apps .flex-two-blocks {
	display: flex;
}

.apps .flex-two-blocks div {
	display: flex;
	flex-direction: column;
}

.apps .flex-two-blocks h2 {
	font-size: 36px;
}

.apps .flex-two-blocks hr {
	text-align: left;
	width: 56px;
	margin-left: 0;
	margin-right: 0;
}

.apps .flex-two-blocks p {
	font-size: 18px;
	line-height: 30px;
}

.apps .flex-two-blocks:first-child {
	gap: 137px;
}

.apps .flex-two-blocks:last-child {
	gap: 71px;
}
/* /apps */

/* reviews */
.reviews {
	margin-top: 266px;
	margin-bottom: 340px /* *? BUGGY DEBUGGY BIG BUG */;
}

.reviews .review-slider-container {
	background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
	color: white;
	text-align: center;
	padding-top: 64px;
	padding-bottom: 109px;
	border-radius: 24px;
}

.reviews hr {
	color: white;
}

.reviews h2 {
	font-size: 36px;
}

.review-slider .review {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 110px;
	margin-top: 80px;
}

.review-slider .review .review-user {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	text-align: left;
}

.review-slider .review .review-user .user-credentials h3 {
	font-size: 22px;
	margin-top: 0;
}

.review-slider .review .review-user .user-credentials span {
	font-size: 18px;
}

.review-slider .review .review-text {
	text-align: left;
	max-width: 420px;
}

.review-slider .review .review-text p {
	color: white;
	font-size: 19px;
	letter-spacing: 0.6px;
	line-height: 30px;
}

.reviews .dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 42px;
}

.reviews .dot {
	background: #5B9BF3;
	width: 10px;
	height: 10px;
	opacity: 0.3;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.reviews .dot+.dot {
	margin-left: 18px;
}

.reviews .dot.active,
.reviews .dot:hover {
	opacity: 1;
}

.reviews .dot:active {
	filter: brightness(0.5);
}

.reviews .arrow-left,
.reviews .arrow-right {
	background: url(images/reviews/arrow-right.svg) no-repeat;
	width: 31px;
	height: 20px;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.reviews .arrow-left:hover,
.reviews .arrow-right:hover {
	opacity: 1;
}

.reviews .arrow-left:active,
.reviews .arrow-right:active {
	filter: brightness(0.5);
}

.reviews .arrow-left {
	opacity: 0.3;
	transform: rotate(180deg);
}

.reviews .arrow-container-left {
	margin-right: 90px;
}

.reviews .arrow-container-right {
	margin-left: 90px;
}

.reviews::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(images/reviews/reviews-overlay.png);
	background-repeat: no-repeat;
	z-index: -1;
}
/* /reviews */